<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Change Password</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Change Password</h5>
        </div>
        <div class="alert alert-warning" role="alert">
            The password must contain at least one alphabet character.<br>
            The password must contain at least one digit.<br>
            The password must be a minimum of 8 characters in length.<br>

        </div>
        <div class="card-body">
          <form action="{% url 'change_password' %}" method="POST"> {% csrf_token %}
            <div class="form-group">
              <label for="currentPassword">Current Password</label>
              <input type="password" class="form-control" id="currentPassword" placeholder="Enter current password" name="current_password">
            </div>
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword" placeholder="Enter new password" name="new_password">
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password" name="confirm_password">
            </div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <button type="submit" class="btn btn-primary">Change Password</button>
            <a href="{% url 'login' %}" class="float-right">Do you have an account? Sign in</a>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    {% if success %}  
      Swal.fire("{{ success }}")
    {% endif %}
</script>    

</body>
</html>

